## For Ruby Gem
*.gem
Gemfile.lock
docs/output
docs/tmp
docs/crash.log

## For Ember Addon
# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log
/bootstrap-bookingsync-sass.iml
/.idea/

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
