{{#modal-dialog targetAttachment="none"
                translucentOverlay=true
                overlay-class='modal in'
                container-class='modal-dialog'}}
  <div class="modal-content">
    {{yield}}
  </div>
{{/modal-dialog}}
