<div class="switch-animate">
  <span class="switch-left switch-small">ON</span>
  <label class="switch-small">
    {{one-way-checkbox checked=isChecked update=(action (mut isChecked))}}
  </label>
  <span class="switch-right switch-small">OFF</span>
</div>
