<nav class="menu menu-fixed flex-col">
  <header class="dropdown">
    <div class="bar">
      <img src="/assets/images/bookingsync_white.svg" class="brand-logo"
           alt="BookingSync">
    </div>
  </header>
  <div class="body flex-1">
    <ol>
      <li role="presentation" class="active">
        <a href="brand">
          <i class="bs-icon-bookingsync"></i>
          <span>Brand</span>
        </a>
      </li>
      <li role="presentation">
        <a href="forms">
          <i class="styleguide-icon-forms"></i>
          <span>Forms</span>
        </a>
      </li>
      <li role="presentation">
        <a href="buttons">
          <i class="styleguide-icon-buttons"></i>
          <span>Buttons</span></a>
      </li>
      <li role="presentation">
        <a href="utilities">
          <i class="styleguide-icon-utilities"></i>
          <span>Utilities</span>
        </a>
      </li>
      <li role="presentation">
        <a href="components">
          <i class="styleguide-icon-components"></i>
          <span>Components</span>
        </a>
      </li>
      <li role="presentation">
        <a href="ember/">
          <i class="styleguide-icon-ember"></i>
          <span>Ember Addon</span>
        </a>
      </li>
    </ol>
  </div>
</nav>
