<div class="panel panel-default">
  <ul class="list-group list-group-with-icon list-unstyled">
    <li>
      <a href="/brand" class="list-group-item">
        <i class="bs-icon-bookingsync bs-icon-fw"></i>&nbsp; <span>Brand</span>
      </a>
    </li>
    <li>
      <a href="/forms" class="list-group-item">
        <i class="styleguide-icon-forms bs-icon-fw"></i>&nbsp; <span>Forms</span>
      </a>
    </li>
    <li>
      <a href="/buttons" class="list-group-item">
        <i class="styleguide-icon-buttons bs-icon-fw"></i>&nbsp; <span>Buttons</span>
      </a>
    </li>
    <li>
      <a href="/utilities" class="list-group-item">
        <i class="styleguide-icon-utilities bs-icon-fw"></i>&nbsp; <span>Utilities</span>
      </a>
    </li>
    <li>
      <a href="/components" class="list-group-item">
        <i class="styleguide-icon-components bs-icon-fw"></i>&nbsp; <span>Components</span>
      </a>
    </li>
    <li>
      <a href="/compositions" class="list-group-item">
        <i class="styleguide-icon-compositions bs-icon-fw"></i>&nbsp; <span>Compositions</span>
      </a>
    </li>
    <li class="expanded active">
      <a href="/brand" class="list-group-item">
        <i class="styleguide-icon-ember bs-icon-fw"></i>&nbsp; <span>Ember Addon</span>
      </a>
      <ul class="list-group list-unstyled">
        <li><a class="list-group-item" href="#forms">Menu</a></li>
        <li><a class="list-group-item" href="#buttons">Buttons</a></li>
        <li><a class="list-group-item" href="#modal">Modal</a></li>
        <li><a class="list-group-item" href="#calendar">Calendar</a></li>
      </ul>
    </li>
  </ul>
</div>
