.alert-container-top {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 2000;

  .alert {
    display: inline-block;
    margin-bottom: 0;
    padding: 5px (13 + $alert-padding) 5px $alert-padding;
    border-top: 0;
    border-radius: 0 0 $alert-border-radius $alert-border-radius;
  }

  .alert-dismissible .close {
    right: -15px;
  }
}
