.annotated-section {
  @include make-row;
  margin: $sheet-margin;
}

.annotated-section-annotation {
  @include make-sm-column(4);

  @media (min-width: $screen-sm-min) {
    padding-left: 27px;
  }
}

.annotated-section-title {
  margin-top: $sheet-padding;
}

h2.annotated-section-title {
  font-size: $font-size-h3;
}

.annotated-section-content {
  @include make-sm-column(8);

  &:not(.annotated-section-content-frameless) {
    border: 1px solid $sheet-border;
    background-color: $sheet-bg;
    border-radius: $sheet-border-radius;
    padding: $sheet-padding;
  }

  &.annotated-section-content-frameless {
    padding: 0;
  }
}
