// Overides for ember-tooltips

.ember-tooltip, .tooltip-inner {
  background: $brand-primary;
  border-color: $brand-primary;
}

.ember-tooltip-arrow {
  border-top-color: inherit !important;
}

.ember-popover .tooltip-inner {
  background: #fff;
  color: $gray-dark;
}
