// Overides for ember-toggle addon

.x-toggle-component {
  display: inline-block;
}

.x-toggle:checked + label > .x-toggle-light.x-toggle-btn {
  background: $brand-primary;
}

.bsy-switch {
  display: inline-block;
}
