// Backgrounds
$ember-power-select-background-color: #fff !default;
$ember-power-select-disabled-background-color: #fff !default;
$ember-power-select-multiple-selection-background-color: #fff !default;
$ember-power-select-highlighted-background: $gray-lightest !default;
$ember-power-select-selected-background: #fff !default;
// Texts
$ember-power-select-text-color: $input-color !default;
$ember-power-select-highlighted-color: $input-color !default;
// Borders
$ember-power-select-border-color: $gray-lighter !default;
$ember-power-select-focus-border-color: $gray-lighter !default;
$ember-power-select-multiple-option-border-color: transparent !default;
$ember-power-select-multiple-option-border: 0 !default;
$ember-power-select-default-border-radius: 4px !default;
$ember-power-select-trigger-default-border-radius: $ember-power-select-default-border-radius !default;
// Borders radius
$ember-power-select-default-border-radius: $border-radius-large !default; // General border radius
// Other
$ember-power-select-line-height: 2.45 !default;
$ember-power-select-focus-outline: 0 !default;
html .ember-basic-dropdown--below .ember-power-select-trigger[aria-expanded="true"],
html .ember-basic-dropdown--in-place .ember-power-select-trigger[aria-expanded="true"] {
  border-top-left-radius: $ember-power-select-trigger-default-border-radius;
  border-top-right-radius: $ember-power-select-trigger-default-border-radius;
}

html .ember-power-select-status-icon {
  top: 12px;
}

html .ember-power-select-trigger,
html .ember-power-select-trigger:focus,
html .ember-power-select-search-input,
html .ember-power-select-search-input:focus,
html .ember-basic-dropdown--focus-inside .ember-power-select-trigger {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 0;
}

html .ember-power-select-trigger,
html .ember-power-select-trigger:focus {
  padding-left: 0;
}

html .ember-basic-dropdown--below .ember-power-select-trigger[aria-expanded="true"],
html .ember-basic-dropdown--in-place .ember-power-select-trigger[aria-expanded="true"] {
  padding-left: 8px;
}

html .ember-basic-dropdown--below .ember-power-select-multiple-trigger[aria-expanded="true"],
html .ember-basic-dropdown--in-place .ember-power-select-multiple-trigger[aria-expanded="true"] {
  padding-left: 4px;
}

html .ember-power-select-trigger:focus,
html .ember-basic-dropdown--focus-inside .ember-power-select-trigger {
  border-bottom-color: $label-border-focus;
  box-shadow: 0 1px 0 0 $label-border-focus;
}

html .ember-basic-dropdown--below .ember-power-select-trigger {
  border: 1px solid $ember-power-select-focus-border-color;
  box-shadow: 0 1px 0 0 $ember-power-select-focus-border-color;
  box-sizing: border-box;
}

html .ember-basic-dropdown--below .ember-power-select-trigger:focus {
  border: 1px solid $ember-power-select-focus-border-color;
  box-shadow: 0 1px 0 0 $ember-power-select-focus-border-color;
}

html .ember-power-select-dropdown.ember-basic-dropdown--below,
html .ember-basic-dropdown--in-place .ember-power-select-dropdown {
  margin-top: -1px;
}

.ember-power-select-search::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icons-font-name}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $icon-search;
  position: absolute;
  margin-left: 5px;
}

html .ember-power-select-search-input {
  padding-left: 25px;
}

html .ember-power-select-multiple-option {
  background-color: $select-multiple-options-bg;
  color: $select-multiple-options-color;
  margin-top: 4px;
  line-height: 1.45;
  padding: 3px 4px;
}

html .ember-power-select-multiple-remove-btn {
  float: right;
  padding-left: 4px;
  margin-top: 4px;
  line-height: 1;
}

html .ember-power-select-option[aria-selected="true"] {
  background-color: $select-multiple-options-selected-bg;
  color: $select-multiple-options-selected-color;
  &:hover {
    background-color: $select-multiple-options-selected-bg;
    cursor: default;
  }
}

html .ember-basic-dropdown-content {
  z-index: 2000;
}
