.navbar-btn {
  // 2 for the button border width
  @include navbar-vertical-align(($font-size-base * $line-height-base) + (2 * $padding-base-vertical) + 2);
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-fixed-top,
  .navbar-static-top,
  .navbar-fixed-bottom {
    & > .container-fluid .navbar-right {
      padding-left: $navbar-padding-horizontal;
      padding-right: $navbar-padding-horizontal;
    }
  }
}

.navbar-breadcrumb {
  margin: 0;
  color: $breadcrumb-color;

  i {
    color: $breadcrumb-icon-color;
  }

  a {
    color: $breadcrumb-link-color;

    &:hover {
      color: $breadcrumb-link-hover-color;
    }
  }

  img {
    height: $navbar-breadcrumb-brand-logo-height;
  }
}

@media (max-width: $grid-float-breakpoint-max) {
  .navbar-breadcrumb-brand-logo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: $navbar-breadcrumb-brand-logo-xs-width;
    height: $navbar-breadcrumb-brand-logo-xs-height;

    img {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0px, $navbar-breadcrumb-brand-logo-xs-width, $navbar-breadcrumb-brand-logo-xs-height, 0px);
    }
  }
}

.menu-toggle-hideable {
  .icon-bar {
    background-color: $navbar-default-toggle-icon-bar-bg;
  }
}
