.sheet,
.annotated-section-content {
  & > .nav-tabs {
    background-color: $sheet-navbar-tabs-bg;
    margin: - $sheet-padding;
    margin-bottom: $sheet-padding;

    > li > a {
      margin-right: 0;
      border-top: 0;
      border-radius: 0;
      color: $gray;

      &:hover {
        color: $gray;
        background-color: $sheet-navbar-tabs-bg-hover;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-radius: 0;
      }
    }

    > li.active > a {
      color: $brand-primary;
      background-color: $sheet-bg;

      &:focus,
      &:hover {
        color: $brand-primary;
        border-top: 0;
        border-left: 1px solid $gray-lightest;
        border-right: 1px solid $gray-lightest;
        border-bottom: 1px solid $sheet-bg;
      }

      &:hover {
        background-color: $sheet-navbar-tabs-bg-hover;
      }
    }

    > li:first-of-type a,
    > li:first-of-type a:hover {
      border-left: 1px solid transparent;
    }

    // Dropdown
    .open > a,
    .open > a:hover,
    .open > a:focus {
      background-color: $sheet-navbar-tabs-bg-hover;
      border-color: transparent;
      border-bottom-color: $gray-lightest;
    }

    > .dropdown >.dropdown-menu {
      border-top: 0;
      background-color: $sheet-navbar-tabs-bg-hover;
    }

    > .pull-right > .dropdown-menu {
      right: -1px;
    }
  }

  & > .nav-pills {
    background-color: $sheet-navbar-pills-bg;
    margin: - $sheet-padding;
    margin-right: $sheet-padding;
    padding-right: 0;

    > li > a {
      margin-right: 0;
      border-top: 0;
      border-radius: 0;
      color: $gray;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      border-right: 1px solid $gray-lightest;

      &:hover {
        color: $gray;
        background-color: $sheet-navbar-pills-bg-hover;
        border-radius: 0;
      }
    }

    > li.active a {
      color: $brand-primary;
      background-color: $sheet-bg;
      border-top: 1px solid $gray-lightest;
      border-bottom: 1px solid $gray-lightest;
      border-right: 1px solid transparent;

      &:hover {
        color: $brand-primary;
        background-color: $sheet-navbar-pills-bg-hover;
      }
    }

    > li:first-of-type a,
    > li:first-of-type a:hover {
      border-top: 1px solid transparent;
    }

    &.nav-stacked > li + li {
      margin-top: 0;
    }
  }
}
