// Sheet
//
// Custom wrapper to simulate a paper sheet container
.sheet {
  width: auto;
  position: relative;
  border: 1px solid $sheet-border;
  background-color: $sheet-bg;
  border-radius: $sheet-border-radius;
  margin: $sheet-margin;
  padding: $sheet-padding;
}

.sheet-header {
  margin: (-1 * $sheet-padding);
  margin-bottom: $sheet-padding;
  padding: $sheet-padding;
  border-bottom: 1px solid $sheet-inner-border;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  p {
    padding: 0;
    margin: 0;
  }
}

.sheet-fullscreen {
  margin: 0;
  border: 0;
  border-radius: 0;
  min-height: 100vh;
  margin-top: - ($navbar-height + 1); // for the navbar-fixed-top border
  padding-top: $navbar-height + 1 + $sheet-padding; // for the navbar-fixed-top border
}

.sheet > .alert:first-child {
  margin: (-1 * $sheet-padding);
  margin-bottom: $sheet-padding;
  border-radius: $sheet-border-radius $sheet-border-radius 0 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.sheet > .alert:last-child {
  margin: (-1 * $sheet-padding);
  margin-top: $sheet-padding;
  border-radius: 0 0 $sheet-border-radius $sheet-border-radius;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
