// Sheet
//
// Custom wrapper to simulate a paper sheet container

.sheet {
  width: auto;
  position: relative;
  border: 1px solid $sheet-border;
  background-color: $sheet-bg;
  border-radius: $sheet-border-radius;
  margin: $sheet-margin;
  padding: $sheet-padding;
}

.sheet-header {
  margin: (-1 * $sheet-padding);
  margin-bottom: $sheet-padding;
  padding: $sheet-padding;
  border-bottom: 1px solid $sheet-inner-border;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  p {
    padding: 0;
    margin: 0;
  }
}
