// Vertical Alignment
// --------------------------------------------------
.valign-top {
  vertical-align: top !important;
}
.valign-middle {
  vertical-align: middle !important;
}
.valign-bottom {
  vertical-align: bottom !important;
}

// Flex
// --------------------------------------------------
.flex-col {
  display: flex;
  flex-direction: column;

  &.collapse {
    display: none;
  }

  &.collapse.in {
    display: flex;
  }
}

.flex-row {
  display: flex;

  &.collapse {
    display: none;
  }

  &.collapse.in {
    display: flex;
  }
}

.flex-1 {
  flex: 1;
}

.flex-middle {
  margin-top: auto;
  margin-bottom: auto;
}

// text utilities

.text-nowrap {
  white-space: nowrap;
}
