.reference-body > h2,
.reference-body > h3,
.reference-body > h4,
.reference-body > h5,
.reference-body > h6 {
  margin-top: 2em;
}

.reference-body {
  & > h2:first-of-type {
    margin: 0;
  }

  & > h3+h4 {
    margin-top: 1em;
  }

  & > .example:first-of-type {
    margin-top: 0;
  }
}

.color {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
}

.color-primary {
  width: 140px;
  height: 140px;
}

.color-darkblue {
  background-color: $bs-darkblue;
}

.color-darkgray {
  background-color: $bs-darkgray;
}

.color-lightblue {
  background-color: $bs-lightblue;
}

.color-green {
  background-color: $bs-green;
}

.color-yellow {
  background-color: $bs-yellow;
}

.color-red {
  background-color: $bs-red;
}

.color-headings {
  background-color: $headings-color;
}

.color-gray-dark {
  background-color: $gray-dark;
}

.color-gray-light {
  background-color: $gray-light;
}

.color-gray-lighter {
  background-color: $gray-lighter;
}

.color-gray-lightest {
  background-color: $gray-lightest;
}

.example-responsive {
  position: relative;
}

.example-responsive-nav {
  position: absolute;
  right: 15px;
  top: 8px;
}
