.bs-example {
  .navbar-fixed-top {
    position: inherit;
  }

  #content {
    min-height: inherit;

    &.with-navbar {
      padding-top: 0;
    }
  }

  &.bs-example-composition-body {
    background-color: $body-bg;
    border: 1px solid $gray-lightest;
  }
}

.bs-example-modal {
  .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
  }
}
