.bs-example {
  .navbar-fixed-top {
    position: inherit;
  }

  #content {
    min-height: inherit;

    &.with-navbar {
      padding-top: 0;
    }
  }

  &.bs-example-composition-body {
    background-color: $body-bg;
    border: 1px solid $gray-lightest;
  }
}

.bs-example-colors {
  .row {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.bs-example-modal {
  .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
  }
}

.bs-example-icons {
  li {
    width: 49%;
    padding: 20px;
    text-align: center;
    display: inline-block;

    @media (min-width: $screen-sm-min) {
      width: 19%;
    }
  }

  i {
    font-size: 3em;
    margin-bottom: 10px;
    display: block;
    color: $gray-light;
  }
}

.bs-example-iframe-container-mobile {
  margin: 0 auto;
  width: 322px; // including borders
  height: 570px; // including borders
}

.bs-example-iframe-container-tablet {
  margin: 0 auto;
  width: 770px; // including borders
  height: 1026px; // including borders
}

.bs-example-iframe-container-desktop {
  width: 100%;
  height: 570px; // including borders
}

.bs-example-iframe {
  width: 100%;
  height: 100%;
}
